#contenidoActividad {
    margin: 1.5rem 0;
    padding-bottom: 1.5rem;
    background-color: var(--color3claro);
    border-radius: 30px;
}

#contenidoActividad h2 {
    background-color: var(--color3);
    padding: 1.5rem 2rem;
    border-radius: 20px;
    height: 6rem;
}

#contenidoActividad h2 + p {
    padding: 0 2rem;
}

.bold {
    font-weight: 700;
}

/* PUNTOS DE CORTE */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #elementosActividad {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    div#reinosBiologicos > button.reino > div > p {
        display: none;
    }

    #elementosActividad * {
        font-size: smaller;
    }

    .retroalimentacion {
        flex-direction: column-reverse;
    }

    #contenidoActividad h2 {
        height: 4.5rem;
    }

    #reinosBiologicos .dropped {
        text-shadow: none;
        padding: 0 0.25rem;
        font-size: smaller;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    #elementosActividad {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    div#reinosBiologicos > button.reino > div > p {
        display: none;
    }

    div.word.dropped {
        margin: 0.25rem 0;
    }

    #contenidoActividad h2 {
        height: 4.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flexContainer {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0.5rem;
    }

    .flexContainer > div {
        margin: 0.5rem;
    }

    #elementosActividad {
        display: flex;
        flex-direction: column;
    }

    .completo {
        grid-template-columns: 100%;
    }

    div#reinosBiologicos > button.reino > div > p {
        display: inherit;
    }

    #contenidoActividad h2 {
        height: 6rem;
        text-align: center;
    }
}