#contenidoActividad {
    margin: 1.5rem 0;
    padding-bottom: 1.5rem;
    background-color: var(--color3claro);
    border-radius: 30px;
}

#contenidoActividad h2 {
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--color3);
    padding: 1.5rem 0.5rem;
    border-radius: 20px;
}

#reinosBiologicos h3 {
    padding-top: 1.5rem;
    font-size: 1rem;
    font-weight: 800;
    text-shadow: 1px 1px var(--color3);
}

#reinosBiologicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.reino {
    position: relative;
    width: 160px;
    aspect-ratio: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    border-style: none;
    border-radius: 10px;
    margin: 1rem 0.5rem;
}

.bold {
    font-weight: 700;
}

/* PUNTOS DE CORTE */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #elementosActividad {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #elementosActividad * {
        font-size: smaller;
    }

    .retroalimentacion {
        flex-direction: column-reverse;
    }

    #contenidoActividad h2 {
        height: 4.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    #contenidoActividad h2 {
        height: 4.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flexContainer {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0.5rem;
    }

    .flexContainer > div {
        margin: 0.5rem;
    }
}